{% extends 'dashboard/controlpanel.html.twig' %}
{% block body %}
<h1 style="margin-top: 20px"> Lista de Usuarios que han hecho un reporte: </h1>
{% block table %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre de usuario</th>
      <th scope="col">Email</th>
      <th scope="col">Nombre de ticket</th>
    </tr>
  </thead>
  <tbody>
    {% for u in usuario  %}
    <tr>
      <th scope="row">{{u.id}}</th>
      <td>{{u.username}}</td>
      <td>{{u.email}}</td>
      <td>{{u.titulo}}</td>
    </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}
{% endblock %}
