<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Sticky Footer Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    {% if ticket is empty %}
    <main role="main" class="container">
    <h1 style="margin-top:100px">No hay respuesta aun para su ticket.</h1>
    <p>Vuelva al  <a href="{{path('mistickets')}}">Panel de Usuario</a></p>
  </main>

    {% else %}
    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">{{ticket[0]['titulo']}}</h1>
      <p class="lead">{{ticket[0]['respuesta']}}</p>
      <p>Vuelva al  <a href="{{path('mistickets')}}">Panel de Usuario</a></p>
    </main>

    {% endif %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Sticket 2018</span>
      </div>
    </footer>
  </body>
</html>
