{% extends 'dashboard/nav.html.twig' %}
{% block body %}
<h1>Su Ticket ha sido enviado</h1>
<p>Espere respuesta de nuestros administradores</p>
<a href="{{path('homepage')}}" class="btn btn-primary">Volver a Inicio</a>
{% endblock %}
